{
    "openapi": "3.0.0",
    "info": {
        "title": "Bereshit API",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://bereshit-api.egodev1.info/api/v1",
            "description": "Crm server"
        },
        {
            "url": "http://bereshit-crm/api/v1",
            "description": "Local server"
        }
    ],
    "paths": {
        "/courses/{course_id}/copy": {
            "post": {
                "tags": [
                    "Course - copy"
                ],
                "summary": "Copy course.",
                "operationId": "4c1984a48d6189a5e9443877bf38535d",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/CopyCourseRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CourseItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Lesson copy."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/students/{student_id}/pass": {
            "post": {
                "tags": [
                    "Course students completed"
                ],
                "summary": "Completed course.",
                "operationId": "2c50403635489c7451294f9fa25265af",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "student_id",
                        "in": "path",
                        "description": "Student id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_completed",
                        "in": "query",
                        "description": "Is completed courses.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ],
                            "example": "0"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Student course pass status updated."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/students": {
            "get": {
                "tags": [
                    "Course students"
                ],
                "summary": "Get course students list.",
                "operationId": "3908f9f76ad697ccb4874264d84db4af",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "_Allowed fields params:_ **full_name, email**. _Direction:_ **desc, asc**",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "type": "object",
                            "example": "{'full_name':'asc'}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CourseStudentWithContract"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course students list."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Course students"
                ],
                "summary": "Add users to course students.",
                "operationId": "21673e78e4dd3079337234b73db13fe1",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/AddCourseStudentsRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CourseStudent"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course\n     *     students added."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Course students"
                ],
                "summary": "Delete users from course students.",
                "operationId": "7d59d4677b7e002adc29dd4910b19e36",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/DeleteCourseStudentsRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CourseStudent"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course\n     *     students deleted."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/contracts": {
            "get": {
                "tags": [
                    "Courses - contracts"
                ],
                "summary": "Get course contracts list.",
                "operationId": "f21388fff64a205d371b36041b432928",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CourseStudentContractItem"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Courses list."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Courses - contracts"
                ],
                "summary": "Save course contract.For students only",
                "operationId": "c5d0e0b2b8560e6254edca4013492412",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ContractCourseRequest"
                },
                "responses": {
                    "201": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Contract saved."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/contract": {
            "get": {
                "tags": [
                    "Courses - contracts"
                ],
                "summary": "Get course contract.",
                "operationId": "0742d763b83ca2d1b05d9e7019fae5b1",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CourseContract"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course contract."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/survey": {
            "get": {
                "tags": [
                    "Course survey"
                ],
                "summary": "Get course survey.",
                "operationId": "e10e365b1382751abf1f545d673ce07c",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "course": {
                                                            "properties": {
                                                                "id": {
                                                                    "example": "Course id"
                                                                },
                                                                "name": {
                                                                    "example": "Course name"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "course survey": {
                                                            "example": "Course survey"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course survey."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Course survey"
                ],
                "summary": "Send course survey answer.",
                "operationId": "39bed71757d18ebae5ab43bc6aa00102",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/AnswerCourseSurveyRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Answers saved successful."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}/survey-statistic": {
            "get": {
                "tags": [
                    "Course survey"
                ],
                "summary": "Get course survey statistic.",
                "operationId": "27afdd0c6d104d4fcd28fb1a8fd37459",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course survey statistic."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses": {
            "get": {
                "tags": [
                    "Courses"
                ],
                "summary": "Get courses list.",
                "operationId": "4116bb6ed89671eab24a6d41b0d9440b",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of users list",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "1"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "_Allowed fields params:_ **created_at, start_at, name**. _Direction:_ **desc, asc**",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "type": "object",
                            "example": "{'created_at':'asc'}"
                        }
                    },
                    {
                        "name": "filters",
                        "in": "query",
                        "description": "<br/>Allowed filters: <br/>**curriculum_id** <br/> _0_ - for courses without an curriculum, <br/> _{curriculum_id}_ - for courses with curriculum curriculum_id, <br/> _[curriculum_id1, curriculum_id2 ...]_ - for courses with curriculums with curriculum_id from array} <br/>**is_archived** - 0|1 <br/>**is_active** - 0|1 <br/>**years_of_study** - 1|2|3",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "type": "object",
                            "example": "{'curriculum_id':'0'}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CoursesListCollection"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Courses list."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Courses"
                ],
                "summary": "Create new course.",
                "operationId": "883d4adaa4e6f8aba9c3a95b4c9398e1",
                "requestBody": {
                    "$ref": "#/components/requestBodies/CreateCourseRequest"
                },
                "responses": {
                    "201": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CourseItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course\n     *     created."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/courses/{course_id}": {
            "get": {
                "tags": [
                    "Courses"
                ],
                "summary": "Get course data by id.",
                "operationId": "8bb6f90c0943116d312328fc3b5f0e93",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CourseItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course\n     *     data."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Courses"
                ],
                "summary": "Update course.",
                "operationId": "5a37c8e413435d0b9cd62fd46a8f6cae",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/UpdateCourseRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CourseItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course\n     *     updated."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Courses"
                ],
                "summary": "Delete course.",
                "operationId": "719f209339819991b3cefbea3591c4cf",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course deleted."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/curriculums": {
            "get": {
                "tags": [
                    "Curriculums"
                ],
                "summary": "Get curriculum list.",
                "operationId": "b2e8b4a880fa0e93db2b528fdc2c8305",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of curriculums list.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "1"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search for the curriculums by name or description. Requirements: min 3 symbols",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "_Allowed fields params:_ **name, start_at, end_at**. _Direction:_ **desc, asc**",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "type": "object",
                            "example": "{'created_at':'asc'}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CurriculumsCollection"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Curriculums list."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Curriculums"
                ],
                "summary": "Create new curriculum.",
                "operationId": "0e8ac5060ba011403bd4427e6a548829",
                "requestBody": {
                    "$ref": "#/components/requestBodies/CreateCurriculumRequest"
                },
                "responses": {
                    "201": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CurriculumItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course created."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/curriculums/{curriculum_id}": {
            "get": {
                "tags": [
                    "Curriculums"
                ],
                "summary": "Get curriculum data by id",
                "operationId": "9a42473582a52d04ca68fa8cbcff9f4c",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CurriculumItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Curriculum data."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Curriculums"
                ],
                "summary": "Update curriculum.",
                "operationId": "f38123b2b11c610716cef4318782ad00",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/UpdateCurriculumRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CurriculumItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Curriculum updated."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Curriculums"
                ],
                "summary": "Delete curriculum.",
                "operationId": "a37cb15aa3079a55721a0be7f7d3ab65",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource deleted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Curriculum deleted."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/curriculums/{curriculum_id}/students": {
            "get": {
                "tags": [
                    "Curriculum students"
                ],
                "summary": "Get curriculum students",
                "operationId": "a022ca7b2f9bbca3d2fbdd21ab4e5a06",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filters",
                        "in": "query",
                        "description": "<br/>Allowed filters: <br/>**exclude_courses**  _[course_id1, course_id2 ...]_ - for exclude users in courses with id from array",
                        "required": false,
                        "style": "deepObject",
                        "schema": {
                            "type": "object",
                            "example": "{'curriculum_id':'0'}"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/CurriculumStudentsWithContract"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Curriculum students data."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Curriculum students"
                ],
                "summary": "Add users to curriculum students.",
                "operationId": "ba04658eab7e992305948d7ccf01d91e",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/AddCurriculumStudentsRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CurriculumStudents"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Curriculum students added."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Curriculum students"
                ],
                "summary": "Delete users from curriculum students.",
                "operationId": "3bc69166a4665800e08033be9ac8736a",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/DeleteCurriculumStudentsRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CurriculumItemStudents"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Course students deleted."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/curriculums/{curriculum_id}/contract": {
            "get": {
                "tags": [
                    "Curriculums - contracts"
                ],
                "summary": "Get curriculum contract.",
                "operationId": "fafbb4962be6f4446c7e21ae185e8ef1",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CurriculumContract"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Curriculum contract."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/curriculums/{curriculum_id}/contracts": {
            "post": {
                "tags": [
                    "Curriculums - contracts"
                ],
                "summary": "Save curriculum contract.For students only",
                "operationId": "743ce4c1d91d2831d9f322d4757574df",
                "parameters": [
                    {
                        "name": "curriculum_id",
                        "in": "path",
                        "description": "Curriculum id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ContractCurriculumRequest"
                },
                "responses": {
                    "201": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "example": "null"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "StudentContract saved."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/attachments": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Get attachments list.",
                "operationId": "990b4a31e356ec8839cb55e9b2cc9809",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of attachments list",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "1"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AttachmentsCollection"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Attachments list."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Create new attachment.",
                "operationId": "f1955c10464755a8fd5f7724cbf3b79a",
                "requestBody": {
                    "$ref": "#/components/requestBodies/CreateAttachmentRequest"
                },
                "responses": {
                    "201": {
                        "description": "Resource created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AttachmentItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Attachment created."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/attachments/{attachment_id}": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Get attachment by id.",
                "operationId": "91b00dcd40b7a2885e74129bb72cd343",
                "parameters": [
                    {
                        "name": "attachment_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AttachmentItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Attachment data."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Update attachment.",
                "operationId": "30bb12a9cf3f41600b6cd164238c3654",
                "parameters": [
                    {
                        "name": "attachment_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/UpdateAttachmentRequest"
                },
                "responses": {
                    "200": {
                        "description": "Resource updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/AttachmentItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Attachment updated."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Delete attachment.",
                "operationId": "a2235b20223df63cde91f92816102733",
                "parameters": [
                    {
                        "name": "attachment_id",
                        "in": "path",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource deleted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Attachment deleted."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/files/download-by-url": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get attachment by id.",
                "operationId": "03864f6d4601a461e5b25d3d466c9b9f",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "description": "File url",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "url"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blob file response."
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    },
                    "404": {
                        "$ref": "#/components/responses/ErrorResponse404"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/homeworks": {
            "get": {
                "tags": [
                    "Homeworks - tasks"
                ],
                "summary": "Get homeworks list.",
                "operationId": "ae40410b48ef65201fe2f15ef51c2625",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "query",
                        "description": "Course id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/HomeworksCollection"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Homeworks list."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Homeworks - tasks"
                ],
                "summary": "Create homework.",
                "operationId": "4d66d6eb9e216905507f6a34d07bbc2c",
                "requestBody": {
                    "$ref": "#/components/requestBodies/CreateHomeworksRequest"
                },
                "responses": {
                    "201": {
                        "description": "Successfull response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/HomeworkItem"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "example": "Homework created."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/ErrorResponse400"
                    },
                    "401": {
                        "$ref": "#/components/responses/ErrorResponse401"
                    },
                    "403": {
                        "$ref": "#/components/responses/ErrorResponse403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/homeworks/{homework_id}": {
            "get": {
                "tags": [
                    "Homeworks - tasks"
                ],
                "summary": "Get homework.",
                "operationId": "0def6e45e7261c5c7066cf0ae9f77187",
                "parameters": [
                    {
                        "name": "homework_id",
[...]
